<!--The content below is only a placeholder and can be replaced.-->
<div class="container" style="text-align:center">
  <h1 class="jumbotron">
       {{ title }}
  </h1>
</div>
<!-- <p-menubar [model]="items">
  <div>
      <input type="text" pInputText placeholder="Search">
      <button pButton label="Logout" icon="fa fa-sign-out" style="margin-left:.25em"></button>
  </div>
</p-menubar>
<p-menubar [model]="items" [autoDisplay]="false">
  <div>
      <input type="text" pInputText placeholder="Search">
      <button pButton label="Logout" icon="fa fa-sign-out" style="margin-left:.25em"></button>
  </div>
</p-menubar> -->

<router-outlet></router-outlet>
